<app-filter-input [(value)]="userSearch.attribute" title="All fields - Customers"></app-filter-input>
<app-filter-input [(value)]="userSearch.mobile" title="Mobile"></app-filter-input>
<app-filter-input [(value)]="userSearch.firstName" title="First Name"></app-filter-input>
<app-filter-input [(value)]="userSearch.familyName" title="Family Name"></app-filter-input>
<app-filter-input [(value)]="userSearch.email" title="Email"></app-filter-input>

<app-crud (create)="create()" (read)="read($event)" (searchAll)="search()" (update)="update($event)"
          [data]="users" [title]="title"></app-crud>
