<mat-table #table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="visibleColumns.concat('actions')"></mat-header-row>
    <mat-row *matRowDef="let item; columns: visibleColumns.concat('actions')"></mat-row>
    <!-- Columnas dinámicas visibles -->
    @for (def of visibleColumns; track def) {
        <ng-container [matColumnDef]="def">
            <mat-header-cell *matHeaderCellDef>{{ def | uppercaseWords }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <app-data-cell [changeFields]="getChangeFields(def)" [value]="row[def]"></app-data-cell>
            </mat-cell>
        </ng-container>
    }
    <!-- Columna de acciones -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            @if (createAction) {
                <button (click)="onCreate()" aria-label="Crear" mat-icon-button>
                    <mat-icon>add_circle</mat-icon>
                </button>
            }
            @if (searchAction) {
                <button (click)="onSearch()" aria-label="Buscar" mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            }
            @if (jsonAction) {
                <button (click)="onJson()" aria-label="Exportar JSON" mat-icon-button>
                    <mat-icon>download</mat-icon>
                </button>
            }
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
            <button [matMenuTriggerFor]="moreMenu" aria-label="Acciones" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #moreMenu="matMenu">
                @if (readAction) {
                    <button (click)="onRead(item)" class="menu-item-primary" mat-menu-item>
                        <mat-icon>visibility</mat-icon>
                        <span>Ver</span>
                    </button>
                }
                @if (printAction) {
                    <button (click)="onPrint(item)" class="menu-item-primary" mat-menu-item>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Ver PDF</span>
                    </button>
                }
                @if (linkAction) {
                    <button (click)="onLink(item)" mat-menu-item>
                        <mat-icon>link</mat-icon>
                        <span>Enlace</span>
                    </button>
                }
                @if (updateAction) {
                    <button (click)="onUpdate(item)" mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                }
                @if (assistantAction) {
                    <button (click)="onAssistant(item)" mat-menu-item>
                        <mat-icon>smart_toy</mat-icon>
                        <span>Asistente</span>
                    </button>
                }
                @if (eventsAction) {
                    <button (click)="onEvents(item)" mat-menu-item>
                        <mat-icon>calendar_month</mat-icon>
                        <span>Eventos</span>
                    </button>
                }
                @if (timelineAction) {
                    <button (click)="onTimeline(item)" mat-menu-item>
                        <mat-icon>timeline</mat-icon>
                        <span>Timeline</span>
                    </button>
                }
                @if (alertsAction) {
                    <button (click)="onAlerts(item)" mat-menu-item>
                        <mat-icon>notifications</mat-icon>
                        <span>Alertas</span>
                    </button>
                }
                @if (notificationsAction) {
                    <button (click)="onNotifications(item)" mat-menu-item>
                        <mat-icon>alarm</mat-icon>
                        <span>Avisos</span>
                    </button>
                }
                @if (commentsAction) {
                    <button (click)="onComments(item)" mat-menu-item>
                        <mat-icon>comment</mat-icon>
                        <span>Comentarios</span>
                    </button>
                }
                @if (runAction) {
                    <button (click)="onRun(item)" mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Ejecutar</span>
                    </button>
                }
                @if (deleteAction) {
                    <button (click)="onDelete(item)" class="menu-item-danger" mat-menu-item>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Eliminar</span>
                    </button>
                }
                @if (cancelAction) {
                    <button (click)="onCancel(item)" mat-menu-item>
                        <mat-icon>cancel</mat-icon>
                        <span>Cancelar</span>
                    </button>
                }
            </mat-menu>
        </mat-cell>
    </ng-container>
</mat-table>
