<div (cdkDropListDropped)="onDrop($event)" cdkDropList class="form-list">
    @for (item of items; track $index; let i = $index) {
        <div cdkDrag class="form-list-item">
            <mat-icon cdkDragHandle class="form-list-drag">drag_indicator</mat-icon>
            <span class="form-list-text">
                @if (!keyView.length) {
                    {{ item }}
                } @else {
                    @for (key of keyView; track $index; let last = $last) {
                        {{ item[key] }}@if (!last) {
                            ,
                        }
                    }
                }
            </span>
            <span class="form-list-actions">
                @if (actionIcon) {
                    <button (click)="onAction(item)" aria-label="Editar" mat-icon-button>
                        <mat-icon>{{ actionIcon }}</mat-icon>
                    </button>
                }
                <button (click)="removeItem(i)" aria-label="Eliminar" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </div>
    }
</div>
