<mat-form-field class="full-width">
    <mat-label>{{ label }}</mat-label>
    <mat-select (ngModelChange)="selectedChange.emit($event)" [(ngModel)]="selected" [required]="required">
        <mat-option [value]="undefined">-- Selecciona --</mat-option>
        @for (type of (values | async); track type) {
            <mat-option [value]="type">
                @if (capitalize) {
                    {{ type | capitalizeEnumName }}
                } @else {
                    {{ type }}
                }
            </mat-option>
        }
    </mat-select>
</mat-form-field>
