<app-title (create)="create()" [createAction]="true" subtitle="Gestion" title="Gastos"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="criteria.category" title="Categoria"></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.supplier" title="Proveedor"></app-filter-input>
    <app-filter-date (enter)="search()" [(date)]="criteria.fromDate" title="Desde"></app-filter-date>
</div>

<app-crud
        (create)="create()"
        (delete)="delete($event)"
        (read)="read($event)"
        (searchAll)="search()"
        (update)="update($event)"
        [columns]="columns"
        [data]="expenses"
        [deleteAction]="deleteVisibility"
        [item]="expense"
        [secureDelete]="true"
        [title]="'Gastos'">
</app-crud>
