<div class="events-toolbar">
    <button (click)="goBack()" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        Volver a Hojas de Encargo
    </button>
</div>


<app-crud
        (create)="openCreateDialog()"
        (notifications)="openNotificationDialog($event)"
        (searchAll)="search()"
        [data]="alerts$"
        [readAction]="false"
        [updateAction]="false"
        [deleteAction]="false"
        [createAction]="true"
        [notificationsAction]="true"
        [hiddenFields]="['id']"
        [columnOrder]="['title', 'dueDate', 'status']"
        [title]="title">
</app-crud>
