<div class="events-toolbar">
    <button (click)="goBack()" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        Volver a Hojas de Encargo
    </button>
</div>


<app-crud
        (cancel)="cancelAlert($event)"
        (create)="openCreateDialog()"
        (notifications)="openNotificationDialog($event)"
        (read)="openAlertDetailDialog($event.id)"
        (searchAll)="search()"
        (update)="openEditAlertDialog($event.id)"
        [cancelAction]="true"
        [columnOrder]="['title', 'dueDate', 'status']"
        [createAction]="true"
        [data]="alerts$"
        [deleteAction]="false"
        [hiddenFields]="['id']"
        [notificationsAction]="true"
        [readAction]="true"
        [title]="title"
        [updateAction]="true">
</app-crud>
