<div class="events-toolbar">
    <button (click)="goBack()" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        Volver a Hojas de Encargo
    </button>
</div>
<div style="display:flex; gap:10px">

    <button (click)="goToTimeline()" class="timeline-btn" color="primary" mat-raised-button>
        <mat-icon>timeline</mat-icon>
        <span>Ver línea temporal</span>
    </button>


</div>


<app-crud
        (comments)="comments($event)"
        (create)="create()"
        (delete)="delete($event)"
        (read)="read($event)"
        (update)="update($event)"
        [columnOrder]="['title','description', 'eventDate', 'type', 'status' ]"
        [commentsAction]="true"
        [commentsInline]="true"
        [data]="events$"
        [deleteAction]="true"
        [deleteInline]="true"
        [hiddenFields]="['id', 'engagementLetterId', 'createdDate', 'comments']"
        [item]="event$"
        [searchAction]="false"
        [title]="title">
</app-crud>
