<mat-form-field>
    <mat-label>{{ title }}</mat-label>
    <input (ngModelChange)="onDateChange()" [(ngModel)]="date" [matDatepicker]="pickerFrom" matInput>
    <button
            (click)="clearDate()"
            [disabled]="!date"
            aria-label="Limpiar fecha"
            mat-icon-button
            matSuffix
            type="button"
    >
        <mat-icon>delete</mat-icon>
    </button>
    <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
