<mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>{{ title }}</mat-label>
    <input (keyup.enter)="enter.emit()"
           (ngModelChange)="onDateChange($event)"
           [(ngModel)]="date"
           [matDatepicker]="pickerFrom"
           matInput>
    <button
            (click)="clearDate()"
            [disabled]="!date"
            aria-label="Clear"
            mat-icon-button
            matSuffix
            type="button"
    >
        <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
