<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <app-form-field
        #mobile
        [(value)]="user.mobile"
        label="Móvil"
        type="tel"
        [required]="true"
        [maxlength]="9"
        pattern="^[67][0-9]{8}$"
        errorMessage="Obligatorio, 9 dígitos y empieza por 6 o 7"
    />
    <app-form-field #name [(value)]="user.firstName" label="Nombre" [required]="true" errorMessage="Obligatorio"/>
    <app-form-field [(value)]="user.familyName" label="Email"/>
    <app-form-field [(value)]="user.address" label="Dirección"/>
    <app-form-select [(selected)]="user.province" [values]="provinces" label="Province"/>
    <app-form-field [(value)]="user.city" label="Dirección"/>
    <app-form-field
        #code
        [(value)]="user.postalCode"
        label="Código postal"
        [maxlength]="5"
        pattern="^[0-9]{5}$"
        errorMessage="5 dígitos"
    />
    <app-form-select [(selected)]="user.documentType" [values]="userDocumentTypes" label="Document Type"/>
    <app-form-field [(value)]="user.identity" label="Identidad"/>
    <app-form-field [(value)]="user.email" label="Apellidos"/>
    <mat-slide-toggle [(ngModel)]="enablePasswordChange">New Password</mat-slide-toggle>
    <app-form-field [(value)]="user.password" label="Contraseña" type="password" [disabled]="!enablePasswordChange"/>
    @if (!isCreate()) {
        <app-form-date [(value)]="user.registrationDate" label="Fecha de Registro" [disabled]="true"/>
    }
    <app-form-select [(selected)]="user.role" [values]="roles" label="Role"/>
    <mat-slide-toggle [(ngModel)]="user.active">Active</mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    @if (isCreate()) {
        <button (click)="create()" [disabled]="formInvalid(mobile.ngModel, name.ngModel, code.ngModel)" color="primary"
                mat-raised-button>Create
        </button>
    } @else {
        <button (click)="update()" [disabled]="formInvalid(mobile.ngModel, name.ngModel, code.ngModel)" color="primary"
                mat-raised-button>Update
        </button>
    }
</mat-dialog-actions>
