<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <app-form-field
        #mobile
        [(value)]="user.mobile"
        [maxlength]="9"
        [required]="true"
        errorMessage="Obligatorio, 9 dígitos y empieza por 6 o 7"
        label="Móvil"
        pattern="^[0-9]{9}$"
        type="tel"
    />
    <app-form-field #name [(value)]="user.firstName" [required]="true" errorMessage="Obligatorio" label="Nombre"/>
    <app-form-field [(value)]="user.familyName" label="Email"/>
    <app-form-field [(value)]="user.address" label="Dirección"/>
    <app-form-select [(selected)]="user.province" [capitalize]="true" [values]="provinces" label="Province"/>
    <app-form-field [(value)]="user.city" label="Población"/>
    <app-form-field
        #code
        [(value)]="user.postalCode"
        [maxlength]="5"
        errorMessage="5 dígitos"
        label="Código postal"
        pattern="^[0-9]{5}$"
    />
    <app-form-select [(selected)]="user.documentType" [values]="userDocumentTypes" label="Document Type"/>
    <app-form-field [(value)]="user.identity" label="Identidad"/>
    <app-form-field [(value)]="user.email" label="Email"/>
    <mat-slide-toggle [(ngModel)]="enablePasswordChange">New Password</mat-slide-toggle>
    <app-form-field [(value)]="user.password" [disabled]="!enablePasswordChange" label="Contraseña" type="password"/>
    @if (!isCreate()) {
        <app-form-date [(value)]="user.registrationDate" label="Fecha de Registro" [disabled]="true"/>
    }
    <app-form-select [(selected)]="user.role" [values]="roles" label="Role"/>
    <mat-slide-toggle [(ngModel)]="user.active">Active</mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    @if (isCreate()) {
        <button (click)="create()" [disabled]="formInvalid(mobile.ngModel, name.ngModel, code.ngModel)" color="primary"
                mat-raised-button>Create
        </button>
    } @else {
        <button (click)="update()" [disabled]="formInvalid(mobile.ngModel, name.ngModel, code.ngModel)" color="primary"
                mat-raised-button>Update
        </button>
    }
</mat-dialog-actions>
