<mat-card>
    <mat-card-title class="title-container">
        <div class="profile-header">
            <img alt="logo" height="48" ngSrc="../../../../assets/oa-s.png" width="48"/>
            <h4 class="mat-headline-5">Editar Perfil</h4>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-dialog-content>
            <app-form-field
                #mobile
                [(value)]="user.mobile"
                [maxlength]="9"
                [required]="true"
                errorMessage="Obligatorio, 9 dígitos y empieza por 6 o 7"
                label="Móvil"
                pattern="^[0-9]{9}$"
                type="tel"
            />
            <app-form-field #name [(value)]="user.firstName" [required]="true" errorMessage="Obligatorio"
                            label="Nombre"/>
            <app-form-field [(value)]="user.familyName" label="Email"/>
            <app-form-field [(value)]="user.address" label="Dirección"/>
            <app-form-select [(selected)]="user.province" [capitalize]="true" [values]="provinces" label="Provincia"/>
            <app-form-field [(value)]="user.city" label="Población"/>
            <app-form-field
                #postalCode
                [(value)]="user.postalCode"
                [maxlength]="5"
                errorMessage="5 dígitos"
                label="Código postal"
                pattern="^[0-9]{5}$"
            />
            <app-form-select [(selected)]="user.documentType" [values]="userDocumentTypes" label="Tipo de Documento"/>
            <app-form-field [(value)]="user.identity" label="Identidad"/>
            <app-form-field [(value)]="user.email" label="Email"/>
            <div>
                <strong>Protección de datos personales:</strong><br/>
                Los datos proporcionados serán tratados por <em>Nuria Ocaña Pérez (DNI.46882956D)</em> con la finalidad
                de gestionar la relación comercial, incluida la emisión de facturas. El tratamiento está basado en la
                ejecución de un contrato y el cumplimiento de obligaciones legales. Puede ejercer sus derechos enviando
                un correo a <a href="mailto:administracion@ocanabogados.es">administracion&#64;ocanabogados.es</a>.
                Más información en nuestra <a href="/politica-privacidad" target="_blank">Política de Privacidad</a>.
            </div>
            <!-- CHECKBOX PARA ENVÍO DE PROMOCIONES -->
            <mat-checkbox [(ngModel)]="acceptsPromotions" name="acceptsPromotions">
                Acepto recibir comunicaciones comerciales y promociones de Nuria Ocaña Pérez (DNI.46882956D)
                por medios electrónicos.
            </mat-checkbox>
        </mat-dialog-content>
    </mat-card-content>
    <mat-dialog-actions>
        <button mat-dialog-close mat-raised-button>Close</button>
        <button (click)="update()" [disabled]="formInvalid(mobile.ngModel, postalCode.ngModel)" color="primary"
                mat-raised-button>Update
        </button>
    </mat-dialog-actions>
</mat-card>
