<mat-card>
    <mat-card-title class="title-container">
        <div class="profile-header">
            <img alt="logo" height="48" ngSrc="../../../../assets/oa-s.png" width="48"/>
            <h4 class="mat-headline-5">Editar Perfil</h4>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-dialog-content>
            <app-form-field
                #mobile
                [(value)]="user.mobile"
                [maxlength]="9"
                [required]="true"
                errorMessage="Obligatorio, 9 dígitos y empieza por 6 o 7"
                label="Móvil"
                pattern="^[0-9]{9}$"
                type="tel"
            />
            <app-form-field #name [(value)]="user.firstName" [required]="true" errorMessage="Obligatorio"
                            label="Nombre"/>
            <app-form-field [(value)]="user.familyName" label="Email"/>
            <app-form-field [(value)]="user.address" label="Dirección"/>
            <app-form-select [(selected)]="user.province" [capitalize]="true" [values]="provinces" label="Province"/>
            <app-form-field [(value)]="user.city" label="Población"/>
            <app-form-field
                #postalCode
                [(value)]="user.postalCode"
                [maxlength]="5"
                errorMessage="5 dígitos"
                label="Código postal"
                pattern="^[0-9]{5}$"
            />
            <app-form-select [(selected)]="user.documentType" [values]="userDocumentTypes" label="Document Type"/>
            <app-form-field [(value)]="user.identity" label="Identidad"/>
            <app-form-field [(value)]="user.email" label="Email"/>
        </mat-dialog-content>
    </mat-card-content>
    <mat-dialog-actions>
        <button mat-dialog-close mat-raised-button>Close</button>
        <button (click)="update()" [disabled]="formInvalid(mobile.ngModel, postalCode.ngModel)" color="primary"
                mat-raised-button>Update
        </button>
    </mat-dialog-actions>
</mat-card>
