<app-title title="Enlaces de Clientes" subtitle="Gestión"></app-title>

<div class="filters-card">
    <mat-slide-toggle (change)="search()" [(ngModel)]="criteria.expired">Expirado sin uso</mat-slide-toggle>
    <app-filter-input (enter)="search()" [(value)]="criteria.client" title="Buscar por nombre, apellido, móvil..."></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.scope" title="Tipo de enlace"></app-filter-input>
</div>

<app-crud2 (delete)="delete($event)" (read)=read($event) (searchAll)="search()"
          [createAction]="false" [data]="accessLinks" [deleteAction]=visible
          [item]="accessLink" [updateAction]="false" [columns]="columns"
          typeToDelete="mobile"></app-crud2>
