<mat-slide-toggle (change)="search()" [(ngModel)]="criteria.expired">Expirado sin uso</mat-slide-toggle>
<app-filter-input (enter)="search()" [(value)]="criteria.client" title="Cliente"></app-filter-input>
<app-filter-input (enter)="search()" [(value)]="criteria.scope" title="Alcance del link"></app-filter-input>

<app-crud (delete)="delete($event)" (read)=read($event) (searchAll)="search()"
          [createAction]="false" [data]="accessLinks" [deleteAction]=visible
          [hiddenFields]="['id','urlId','createdAt','documentId']"
          [item]="accessLink" [title]="title" [updateAction]="false"
          typeToDelete="mobile"></app-crud>