<app-title subtitle="Gestión" title="Enlaces de Clientes"></app-title>

<div class="filters-card">
    <mat-slide-toggle (change)="search()" [(ngModel)]="criteria.expired">Expirado sin uso</mat-slide-toggle>
    <app-filter-input (enter)="search()" [(value)]="criteria.client"
                      title="Buscar por nombre, apellido, móvil..."></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.scope" title="Tipo de enlace"></app-filter-input>
</div>

<app-crud (delete)="delete($event)" (read)=read($event) (searchAll)="search()"
          [columns]="columns" [createAction]="false" [data]="accessLinks"
          [deleteAction]=visible [item]="accessLink" [updateAction]="false"
          typeToDelete="mobile"></app-crud>
