<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Descuento</mat-label>
        <input [(ngModel)]="engagementLetter.discount" id="discount" matInput max="100" min="0" step="1" type="number"/>
        <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="!isCreate()" class="full-width">
        <mat-label>Fecha de Creación</mat-label>
        <input [value]="engagementLetter.creationDate | date:'dd-MM-yyyy'" matInput readonly type="text"/>
    </mat-form-field>
    <fieldset class="owner-fieldset">
        <legend>Responsable</legend>
        <app-search-by-user [(user)]="engagementLetter.owner.mobile" class="full-width"></app-search-by-user>
        <mat-form-field class="full-width">
            <mat-label>Owner Mobile</mat-label>
            <input [(ngModel)]="engagementLetter.owner.mobile" id="mobile" matInput maxlength="9" pattern="^[0-9]{9}$"
                   required type="tel"/>
        </mat-form-field>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Resto de clientes</legend>
        <app-search-by-user (userChange)="addAttachment($event)" class="full-width"></app-search-by-user>
        <mat-list>
            @for (attachment of engagementLetter.attachments ?? []; track attachment) {
                <mat-list-item>
                    <button mat-icon-button (click)="removeAtachment(attachment)" aria-label="Eliminar tarea legal">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{ attachment.mobile }}
                </mat-list-item>
            }
        </mat-list>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Procedimientos Legales</legend>
        <app-search-by-legal-procedure (procedureChange)="addProcedure($event)"
                                       class="full-width"></app-search-by-legal-procedure>
        <mat-list>
            @for (procedure of engagementLetter.legalProcedures ?? []; track procedure) {
                <mat-list-item>
                    <button mat-icon-button (click)="removeProcedure(procedure)" aria-label="Eliminar tarea legal">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{ procedure.title }}
                </mat-list-item>
            }
        </mat-list>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Métodos de pago</legend>
        <button mat-mini-fab (click)="openDialog()" >
            <mat-icon>add</mat-icon>
        </button>
        <span *ngIf="!isPaymentTotalValid()" style="color: red; margin-left: 8px;"> Error: total ≠ 100%</span>
        <mat-list>
            @for (method of engagementLetter.paymentMethods ?? []; track method.description) {
                <mat-list-item>
                    <button mat-icon-button color="warn" aria-label="Eliminar forma de pago"
                            (click)="removePaymentMethod(method)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{ method.percentage }}%: {{ method.description }}
                </mat-list-item>
            }
        </mat-list>
    </fieldset>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="create()" *ngIf="isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Create
    </button>
    <button (click)="update()" *ngIf="!isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Update
    </button>
</mat-dialog-actions>