<h2 mat-dialog-title>Editar Procedimiento Legal</h2>
<mat-dialog-content>
    <app-form-field #titleNg [(value)]="procedure.title" [required]="true" errorMessage="Obligatorio" label="Título"/>
    <app-form-date [(ngModel)]="procedure.startDate" label="Fecha de inicio"></app-form-date>
    <app-form-field
        #budget
        [(value)]="procedure.budget"
        [min]="0"
        [step]="10"
        errorMessage="0..x"
        icon="euro"
        label="Presupuesto"
        type="number"
    />
    <mat-checkbox [(ngModel)]="procedure.vatIncluded">¿Incluye IVA?</mat-checkbox>
    <app-search-by-legal-task (taskChange)="addTask($event)" class="full-width"></app-search-by-legal-task>
    <app-input-data (action)="addNewTask($event)" title="Nueva tarea legal"></app-input-data>
    <app-form-list [(items)]="procedure.legalTasks"></app-form-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="cancel()" mat-button>Cancelar</button>
    <button (click)="save()" [disabled]="formInvalid(titleNg.ngModel, budget.ngModel)" color="primary" mat-flat-button>
        Guardar
    </button>
</mat-dialog-actions>
