<h2 mat-dialog-title>Editar Procedimiento Legal</h2>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="procedure.title" matInput type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Fecha de inicio</mat-label>
        <input [(ngModel)]="procedure.startDate" [matDatepicker]="picker" matInput/>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Presupuesto</mat-label>
        <input [(ngModel)]="procedure.budget" matInput type="number"/>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="procedure.vatIncluded">¿Incluye IVA?</mat-checkbox>
    <mat-form-field class="full-width">
        <mat-label>Nueva tarea legal</mat-label>
        <input (keydown.enter)="addTask()" [(ngModel)]="newTask" matInput/>
        <button (click)="addTask()" mat-icon-button matSuffix>
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
    <mat-list>
        @for (task of procedure.legalTasks; track task) {
            <mat-list-item>
                <div class="list-item-content">
                    <button mat-icon-button color="warn" matTooltip="Eliminar tarea" (click)="removeTask(task)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    {{ task }}
                </div>
            </mat-list-item>
        }
    </mat-list>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="cancel()" mat-button>Cancelar</button>
    <button (click)="save()" color="primary" mat-flat-button>Guardar</button>
</mat-dialog-actions>
