<section class="issues-page">
    <div class="filters-section">
        <mat-form-field appearance="outline">
            <mat-label>Tipo de Incidencia</mat-label>
            <mat-select [(ngModel)]="criteria.type">
                <mat-option [value]="undefined">Todos</mat-option>
                <mat-option *ngFor="let type of issueTypes" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="criteria.status">
                <mat-option [value]="undefined">Todos</mat-option>
                <mat-option *ngFor="let status of issueStatus" [value]="status">
                    {{ status }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <app-crud
            (searchAll)="search()"
            (read)="goToDetail($event)"
            [data]="issues"
            [hiddenFields]="['id', 'description', 'technicalContext', 'lastUpdatedAt', 'createdByUserId', 'createdByUser', 'githubIssueId', 'githubIssueUrl', 'message', 'error']"
            [item]="issue"
            [title]="title"
            [createAction]="false"
            [readAction]="true"
            [updateAction]="false">
    </app-crud>
</section>
