<app-title title="Procedimientos Legales" subtitle="Plantillas" [createAction]="true" (create)="create()"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="criteria.title" title="Titulo"></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.task" title="Tarea"></app-filter-input>
</div>

<app-crud2 (delete)="delete($event)" (read)="read($event)" (searchAll)="search()"
           (update)="update($event)"
           [createAction]="false" [data]="templates" [deleteAction]="deleteVisibility" [columns]="columns"
           [item]="template" [readAction]="true" [secureDelete]="true">
</app-crud2>
