<app-title (create)="create()" [createAction]="true" subtitle="Plantillas" title="Procedimientos Legales"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="criteria.title" title="Titulo"></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.task" title="Tarea"></app-filter-input>
</div>

<app-crud2 (delete)="delete($event)" (read)="read($event)" (searchAll)="search()"
           (update)="update($event)"
           [columns]="columns" [createAction]="false" [data]="templates" [deleteAction]="deleteVisibility"
           [item]="template" [readAction]="true" [secureDelete]="true">
</app-crud2>
