<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <app-form-field #titleNg [(value)]="task.title" [required]="true" errorMessage="Obligatorio" label="Título"/>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    @if (isCreate()) {
        <button (click)="create()" [disabled]="formInvalid(titleNg.ngModel)" color="primary" mat-raised-button>
            <mat-icon matButtonIcon>add</mat-icon>
            Crear
        </button>
    } @else {
        <button (click)="update()" [disabled]="formInvalid(titleNg.ngModel)" color="primary" mat-raised-button>Guardar
        </button>
    }
</mat-dialog-actions>
