<app-filter-input (enter)="search()" [(value)]="criteria.customer"
                  title="En varios campos - Clientes"></app-filter-input>
<app-filter-input (enter)="search()" [(value)]="criteria.mobile" title="Móvil"></app-filter-input>
<app-filter-input (enter)="search()" [(value)]="criteria.firstName" title="Nombre"></app-filter-input>
<app-filter-input (enter)="search()" [(value)]="criteria.familyName" title="Apellidos"></app-filter-input>

<app-crud2 (create)="create()" (json)="json()" (link)="link($event)" (read)="read($event)"
           (searchAll)="search()" (update)="update($event)"
           [columns]="columns"
           [data]="users" [deleteAction]=visible [item]="user" [jsonAction]="true" [linkAction]="true"
           [title]="title">
</app-crud2>
