@if (isArray(value)) {
    @if (!fullList) {
        {{ isObject(value[0]) ? (value[0] | json) : value[0] }}...({{ value.length }})
    } @else {
        <ul>
            @for (item of value; track item) {
                <li>{{ isObject(item) ? (item | json) : item }}</li>
            }
        </ul>
    }
} @else if (isObject(value)) {
    @if (!fullList) {
        {{ value | json }}...({{ Object.keys(value).length }})
    } @else {
        <ul>
            @for (entry of Object.entries(value); track entry[0]) {
                <li><strong>{{ entry[0] }}:</strong> {{ isObject(entry[1]) ? (entry[1] | json) : entry[1] }}</li>
            }
        </ul>
    }
} @else if (isDate(value)) {
    {{ value | date: 'short' }}
} @else if (value === null || value === undefined) {
    —
} @else {
    {{ value }}
}
