<h4 mat-dialog-title>Editar Alerta</h4>

<mat-dialog-content>
    <div *ngIf="alert">
        <form>
            <app-form-field
                    [(value)]="alert.title"
                    [required]="true"
                    errorMessage="El título es obligatorio"
                    label="Título"
            ></app-form-field>

            <app-form-field
                    [(value)]="alert.description"
                    label="Descripción"
            ></app-form-field>

            <app-form-date
                    [(value)]="alert.dueDate"
                    label="Fecha de vencimiento"
            ></app-form-date>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button color="accent" mat-dialog-close mat-raised-button>Cancelar</button>
    <button (click)="save()" [disabled]="!alert.title" color="primary" mat-raised-button>Guardar</button>
</mat-dialog-actions>