<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <app-form-field #titleNg [(value)]="legalProcedure.title" [required]="true" errorMessage="Obligatorio"
                    label="Título"/>
    <app-form-field
        #budget
        [(value)]="legalProcedure.budget"
        [min]="0"
        [step]="10"
        errorMessage="0..x"
        icon="euro"
        label="Presupuesto"
        type="number"
    />
    <fieldset class="full-width">
        <legend>Tareas Legales</legend>
        <app-search-by-legal-task (taskChange)="addTask($event)" class="full-width"></app-search-by-legal-task>
        <app-input-data (action)="addNewTask($event)" title="Nueva tarea legal"></app-input-data>
        <app-form-list [(items)]="legalProcedure.legalTasks" [keyView]="['title']"></app-form-list>
    </fieldset>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    @if (isCreate()) {
        <button (click)="create()" [disabled]="formInvalid(titleNg.ngModel,budget.ngModel)" color="primary"
                mat-raised-button>Create
        </button>
    } @else {
        <button (click)="update()" [disabled]="formInvalid(titleNg.ngModel,budget.ngModel)" color="primary"
                mat-raised-button>Update
        </button>
    }
</mat-dialog-actions>