<mat-divider></mat-divider>
<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
        <div mat-subheader><img alt="miw" height="64" ngSrc="../../../assets/oa-s.png" width="64"/></div>
        <mat-list>
            <mat-list-item>
                <mat-icon class="icon-small">computer</mat-icon>
                <small>{{ version }}</small>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="icon-small">cloud_queue</mat-icon>
                <small>{{ backEndUser }}</small>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>
