<app-title (create)="create()" [createAction]="true" subtitle="Gestión" title="Tareas Legales"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="searchTitle" title="Titulo"></app-filter-input>
</div>

<app-crud (create)="create()" (delete)="delete($event)" (read)="read($event)"
          (searchAll)="search()" (update)="update($event)"
          [columns]="columns" [data]="tasks" [deleteAction]=deleteVisibility
          [item]="task" [secureDelete]="true">
</app-crud>
