<app-title (create)="create()" [createAction]="true" subtitle="Gestión" title="Autorizaciones Administrativas"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="criteria.client" title="Cliente"></app-filter-input>
    <app-filter-input (enter)="search()" [(value)]="criteria.authorizationPurpose"
                      title="Finalidad"></app-filter-input>
</div>

<app-crud (create)="create()"
          (delete)="delete($event)" (link)="link($event)" (print)="print($event)" (read)="read($event)"
          (searchAll)="search()" (update)="update($event)"
          [columns]="columns"
          [data]="administrativeAuthorizations"
          [deleteAction]="deleteVisibility"
          [item]="administrativeAuthorization"
          [linkAction]="true"
          [printAction]="true"
          [secureDelete]="true">
</app-crud>
