.footer-container {
    padding: 12px 16px;
    text-align: center;
}

.badges {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    margin-top: 8px;
}

.badges img {
    height: 20px;
    vertical-align: middle;
}

.icon-small {
    font-size: 16px;
    vertical-align: middle;
}

.host {
    color: white;
    background: #555;
    font-size: 15px;
}

.version {
    color: white;
    background: #44bb11;
    font-size: 15px;
}