<mat-divider></mat-divider>
<div class="footer-container">
    <div><mat-icon class="icon-small">computer</mat-icon> <small>{{ version }}</small></div>
    <div class="badges">
        <div><mat-icon class="icon-small">cloude-queue</mat-icon>User: <img [src]="backEndUser + '/system/version-badge'" alt="⚠️ Sin respuesta"/></div>
        <div>Engagement: <img [src]="backEndEngagement + '/system/version-badge'" alt="⚠️ Sin respuesta"/></div>
        <div>Support: <img [src]="backEndSupport + '/system/version-badge'" alt="⚠️ Sin respuesta"/></div>
        <div>Billing: <img [src]="backEndBilling + '/system/version-badge'" alt="⚠️ Sin respuesta"/></div>
    </div>
</div>
