<mat-divider></mat-divider>
<div class="footer-container">
    <div>
        <mat-icon class="icon-small">computer</mat-icon>
        <span class="host"><small>&nbsp;&nbsp;{{ hosting }}:&nbsp;{{ host }}&nbsp;&nbsp;</small></span>
        <span class="version"><small>&nbsp;{{ version }}&nbsp;&nbsp;</small></span>
    </div>
    <div class="badges">
        <div>
            <mat-icon class="icon-small">cloud_queue</mat-icon>
            <img [src]="backEndUser + '/system/version-badge'" alt="❌ User Caído"/></div>
        <div>
            <mat-icon class="icon-small">cloud_queue</mat-icon>
            <img [src]="backEndEngagement + '/system/version-badge'" alt="❌ Engagement Caído"/></div>
        <div>
            <mat-icon class="icon-small">cloud_queue</mat-icon>
            <img [src]="backEndSupport + '/system/version-badge'" alt="❌ Support Caído"/></div>
        <div>
            <mat-icon class="icon-small">cloud_queue</mat-icon>
            <img [src]="backEndBilling + '/system/version-badge'" alt="❌ Billing Caído"/></div>
    </div>
</div>
