<mat-slide-toggle [(ngModel)]="criteria.opened">Abierto</mat-slide-toggle>
<app-filter-input [(value)]="criteria.legalProcedureTitle" title="Titulo del Procedimiento"></app-filter-input>
<app-filter-input [(value)]="criteria.owner" title="Responsable"></app-filter-input>
<app-crud (create)="create()" (delete)="delete($event)" (read)="read($event)" (searchAll)="search()"
          (update)="update($event)" (print)="print($event)"
          (assistant)="openAssistant($event)"
          (events)="navigateToEvents($event)"
          (alerts)="navigateToAlerts($event)"
          (publicLink)="generatePublicLink($event)"
          [data]="engagementLetters"
          [deleteAction]=deleteVisibility [printAction]= "true"
          [assistantAction]="true"
          [eventsAction]="true"
          [alertsAction]="true"
          [publicLinkAction]="true"
          [hiddenFields]="['id','attachments','paymentMethods']" [item]="engagementLetter" [secureDelete]="true" [title]="title">
</app-crud>
