<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="header-row">
            <mat-slide-toggle [(ngModel)]="engagementLetter.budgetOnly">
                @if (engagementLetter.budgetOnly) {
                    <strong>⚠️ SOLO presupuesto!</strong>
                } @else {
                    Hoja de Encargo formalizada
                }
            </mat-slide-toggle>

            <div class="dates-discount-row">
                @if (isEditMode) {
                    <app-form-date [(value)]="engagementLetter.lastUpdatedDate" label="Fecha de Última Actualización"
                                   [disabled]="true"/>
                    <app-form-date [(value)]="engagementLetter.closingDate" label="Fecha de Cierre"/>
                }
                <mat-form-field appearance="outline" class="discount-field">
                    <mat-label>Descuento</mat-label>
                    <input [(ngModel)]="engagementLetter.discount" matInput max="100" min="0" step="1" type="number">
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
        </div>
        <fieldset class="owner-fieldset">
            <legend>Responsable</legend>
            <app-search-by-user [(user)]="engagementLetter.owner" class="full-width"
                                title="Buscar cliente"></app-search-by-user>
            <app-form-list [(items)]="ownerAsArray" [keyView]="['mobile','familyName','firstName']"></app-form-list>
        </fieldset>

        <fieldset class="owner-fieldset">
            <legend>Resto de clientes</legend>
            <app-search-by-user (userChange)="addAttachment($event)" class="full-width"
                                title="Buscar cliente"></app-search-by-user>
            <app-form-list [(items)]="engagementLetter.attachments"
                           [keyView]="['mobile','familyName','firstName']"></app-form-list>
        </fieldset>

        <fieldset class="owner-fieldset">
            <legend>Procedimientos Legales</legend>
            <app-search-by-legal-procedure (procedureChange)="addProcedure($event)"></app-search-by-legal-procedure>
            <app-form-list (action)="editLegalProcedureDialog($event)" [(items)]="engagementLetter.legalProcedures"
                           [keyView]="['title']" actionIcon="edit"></app-form-list>
        </fieldset>

        <fieldset class="owner-fieldset">
            <legend>Métodos de pago</legend>
            <div class="payment-row">
                <button (click)="addPaymentMethod()" color="primary" mat-icon-button>
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
            @for (method of engagementLetter.paymentMethods; track $index; let i = $index) {
                <div class="payment-row">
                    <button mat-icon-button color="warn" (click)="removePaymentMethod(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-form-field appearance="outline" class="percentage-field">
                        <mat-label>Porcentaje</mat-label>
                        <input matInput [(ngModel)]="method.percentage">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="description-field">
                        <mat-label>Descripción</mat-label>
                        <input matInput [(ngModel)]="method.description">
                    </mat-form-field>
                </div>
            }
        </fieldset>

        <fieldset class="owner-fieldset">
            <legend>Cláusula Legal</legend>
            <mat-form-field appearance="outline" class="full-width">
                <textarea [(ngModel)]="engagementLetter.legalClause" matInput rows="5"></textarea>
            </mat-form-field>
        </fieldset>
        <fieldset class="owner-fieldset" *ngIf="engagementLetter.acceptanceEngagements?.length">
            <legend>Firmantes</legend>
            <app-form-list [(items)]="engagementLetter.acceptanceEngagements" [secure]='true'
                           [keyView]="['mobile','signerFullName','signatureAt']"></app-form-list>
        </fieldset>
    </mat-card-content>

    <mat-card-actions align="end">
        <button (click)="cancel()" mat-raised-button>Cancelar</button>
        <button (click)="save()" [disabled]="invalid()" color="primary" mat-raised-button>
            {{ isEditMode ? 'Actualizar' : 'Crear' }}
        </button>
    </mat-card-actions>
</mat-card>