<mat-card-header><h4 mat-dialog-title>Access Link Creation</h4></mat-card-header>
<mat-dialog-content>
    <app-search-by-user (userChange)="updateUser($event)" class="full-width"></app-search-by-user>
    <app-form-field
        #mobile
        [(value)]="accessLink.mobile"
        [maxlength]="9"
        [required]="true"
        errorMessage="Obligatorio, 9 dígitos y empieza por 6 o 7"
        label="Móvil"
        pattern="^[0-9]{9}$"
        type="tel"
    />
    <app-form-clipboard [(value)]="accessLink.link" label="Link de Acceso"></app-form-clipboard>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="create()" [disabled]="formInvalid(mobile.ngModel)" color="primary" mat-raised-button>Create
    </button>
</mat-dialog-actions>
