<h2 mat-dialog-title>Comentarios del evento</h2>

<mat-dialog-content>

    <p *ngIf="eventTitle">{{ eventTitle }}</p>

    <!-- INPUT -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Añadir comentario</mat-label>

        <textarea
                [formControl]="commentControl"
                matInput
                rows="3">
        </textarea>
    </mat-form-field>

    <button (click)="addComment()" [disabled]="submitting" color="primary" mat-raised-button>
        Añadir comentario
    </button>

    <hr/>

    <!-- LISTA -->
    <div *ngIf="loading">Cargando...</div>

    <div *ngFor="let comment of comments">
        <p>{{ comment.content }}</p>
        <small>{{ comment.createdDate | date:'short' }}</small>

        <button
                (click)="deleteComment(comment)"
                *ngIf="comment.authorId && comment.content && comment.createdDate"
                [disabled]="deletingKey === getDeleteKey(comment) || loading || submitting"
                color="warn"
                mat-button>
            {{ deletingKey === getDeleteKey(comment) ? 'Eliminando...' : 'Eliminar' }}
        </button>

        <hr/>
    </div>

    <p *ngIf="!loading && comments.length === 0">
        No hay comentarios
    </p>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
