<mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>

    <mat-select (ngModelChange)="valueChange.emit($event)" [(ngModel)]="value">
        <mat-option [value]="undefined">—</mat-option>
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
    </mat-select>

    <button
            (click)="clear()"
            [disabled]="value === undefined || value === null"
            mat-icon-button
            matSuffix>
        <mat-icon>delete</mat-icon>
    </button>
</mat-form-field>