<mat-form-field>
    <mat-label>{{ label }}</mat-label>

    <mat-select (ngModelChange)="onChange($event)" [(ngModel)]="value">
        <mat-option [value]="null">—</mat-option>
        <mat-option [value]="true">{{ trueLabel }}</mat-option>
        <mat-option [value]="false">{{ falseLabel }}</mat-option>
    </mat-select>

    <button
            (click)="clear()"
            [disabled]="value === undefined || value === null"
            mat-icon-button
            matSuffix>
        <mat-icon>delete</mat-icon>
    </button>
</mat-form-field>