<div class="app-title">
    <div class="app-title__header">
        <div>
            <h1 class="app-title__text">{{ title }}</h1>
            @if (subtitle) {
                <p class="app-title__subtitle">{{ subtitle }}</p>
            }
        </div>
        <div class="app-title__actions">
            @if (createAction) {
                <button mat-flat-button class="app-title__create" (click)="create.emit()">
                    <mat-icon>add</mat-icon>
                    Crear
                </button>
            }
            @if (cancelAction) {
                <button mat-stroked-button class="app-title__cancel" (click)="cancel.emit()">
                    Cancelar
                </button>
            }
            @if (saveAction) {
                <button mat-flat-button class="app-title__create" (click)="save.emit()"
                        [disabled]="saveDisabled">
                    <mat-icon>{{ saveIcon }}</mat-icon>
                    {{ saveLabel }}
                </button>
            }
        </div>
    </div>
</div>
