<app-title (create)="create()" [createAction]="true" subtitle="Gesti&oacute;n"
           title="Prop&oacute;sitos de Autorizaci&oacute;n"></app-title>

<div class="filters-card">
    <app-filter-input (enter)="search()" [(value)]="searchProposito" title="Prop&oacute;sito"></app-filter-input>
</div>

<app-crud (create)="create()" (delete)="delete($event)" (read)="read($event)"
          (searchAll)="search()" (update)="update($event)"
          [columns]="columns" [data]="templates" [deleteAction]=deleteVisibility
          [item]="template" [secureDelete]="true">
</app-crud>
