<mat-form-field class="full-width">
    <mat-label>{{ title }}</mat-label>
    <input [(ngModel)]="inputValue"
           [matAutocomplete]="auto"
           [required]="obligatory"
           matInput
           type="text"
    >
    <button (click)="onRenew()" mat-icon-button matSuffix matTooltip="Renew" matTooltipShowDelay="2000">
        <mat-icon>autorenew</mat-icon>
    </button>
    @if (inputValue) {
        <button (click)="resetKey()" aria-label="Clear" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
        </button>
    }
    <mat-autocomplete #auto="matAutocomplete">
        @if (keys | async; as options) {
            @for (option of options; track trackOption) {
                <mat-option [value]="option" (click)="onClick(option)">
                    @if (!keyView?.length) {
                        {{ option }}
                    } @else {
                        @for (key of keyView; let i = $index; track i) {
                            {{ option[key] }}@if (i < keyView.length - 1) {
                                ,
                            }
                        }
                    }
                </mat-option>
            }
        } @else {
            <mat-option disabled>Cargando...</mat-option>
        }
    </mat-autocomplete>

</mat-form-field>


