<mat-toolbar color="primary">
    <img alt="miw" height="48" ngSrc="../../../assets/oa-s.png" width="48"/>
    <button mat-button routerLink="/home">
        <h1>Administración</h1>
    </button>
    <div>
        <button (click)="login()" *ngIf="!isAuthenticated()" mat-flat-button>
            <mat-icon>person_outline</mat-icon>
            <span>Login</span>
        </button>
        <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
            <mat-icon>account_box</mat-icon>
            <span>Logout - {{ name() }}</span>
        </button>
        <button *ngIf="isAuthenticated()" [matMenuTriggerFor]="profile" mat-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-menu #profile="matMenu" xPosition="before">
    <button (click)="update()" mat-menu-item>
        <mat-icon>manage_accounts</mat-icon>
        <span>Perfil</span>
    </button>
    <button mat-menu-item routerLink="/home/users">
        <mat-icon>groups</mat-icon>
        <span>Usuarios</span>
    </button>
    <button [matMenuTriggerFor]="accessLinks" mat-menu-item>
        <mat-icon>language</mat-icon>
        <span>Links de Acceso</span>
    </button>
    <button [matMenuTriggerFor]="engagementLetters" mat-menu-item>
        <mat-icon>receipt</mat-icon>
        <span>Hojas de Encargo</span>
    </button>
    <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
<mat-menu #accessLinks="matMenu">
    <button mat-menu-item routerLink="/home/access-links">
        <mat-icon>vpn_lock_2</mat-icon>
        <span>Links de Acceso</span>
    </button>
    <button (click)="createAccessLink()" mat-menu-item>
        <mat-icon>playlist_add</mat-icon>
        <span>Crear Acceso</span>
    </button>
</mat-menu>
<mat-menu #engagementLetters="matMenu">
    <button mat-menu-item routerLink="/home/engagement-letters">
        <mat-icon>receipt</mat-icon>
        <span>Hojas de Encargo</span>
    </button>
    <button mat-menu-item routerLink="/home/legal-procedures">
        <mat-icon>menu</mat-icon>
        <span>Plantilla de Procedimientos</span>
    </button>
    <button mat-menu-item routerLink="/home/legal-tasks">
        <mat-icon>remove</mat-icon>
        <span>Plantillas de Tareas</span>
    </button>
</mat-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>
