<mat-toolbar color="primary">
    <img alt="miw" height="64" ngSrc="../../../assets/oa-s.png" width="64"/>
    <button mat-button routerLink="/home">
        <h1>Administración Ocaña Abogados</h1>
    </button>
    <div>
        <button (click)="login()" *ngIf="!isAuthenticated()" mat-flat-button>
            <mat-icon>person_outline</mat-icon>
            <span>Login</span>
        </button>
        <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
            <mat-icon>account_box</mat-icon>
            <span>Logout - {{ name() }}</span>
        </button>
        <button *ngIf="isAuthenticated()" [matMenuTriggerFor]="profile" mat-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-menu #profile="matMenu" xPosition="before">
    <button (click)="update()" mat-menu-item>
        <mat-icon>manage_accounts</mat-icon>
        <span>Profile</span>
    </button>
    <button [matMenuTriggerFor]="users" mat-menu-item>
        <mat-icon>groups</mat-icon>
        <span>Users</span>
    </button>
    <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
<mat-menu #users="matMenu">
    <button mat-menu-item routerLink="/home/users">
        <mat-icon>groups</mat-icon>
        <span>Users</span>
    </button>
    <button (click)="createAccessLink()" mat-menu-item>
        <mat-icon>vpn_lock_2</mat-icon>
        <span>+ Access link</span>
    </button>

</mat-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>
