<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <app-form-field
        #discount
        [(value)]="engagementLetter.discount"
        [max]="100"
        [min]="0"
        [step]="1"
        errorMessage="Porcentaje, 0..100"
        icon="euro"
        label="Descuento"
        type="number"
    />
    @if (!isCreate()) {
        <app-form-date [(value)]="engagementLetter.creationDate" label="Fecha de Creación" [disabled]="true"/>
        <app-form-date [(value)]="engagementLetter.closingDate" label="Fecha de Cierre"/>
    }
    <fieldset class="owner-fieldset">
        <legend>Responsable</legend>
        <app-search-by-user [(user)]="engagementLetter.owner" class="full-width"></app-search-by-user>
        <app-form-list [(items)]="ownerAsArray"
                       [keyView]="['mobile','familyName','firstName']"></app-form-list>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Resto de clientes</legend>
        <app-search-by-user (userChange)="addAttachment($event)" class="full-width"></app-search-by-user>
        <app-form-list [(items)]="engagementLetter.attachments"
                       [keyView]="['mobile','familyName','firstName']"></app-form-list>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Procedimientos Legales</legend>
        <app-search-by-legal-procedure (procedureChange)="addProcedure($event)">
        </app-search-by-legal-procedure>
        <app-form-list (action)="editLegalProcedureDialog($event)"
                       [(items)]="engagementLetter.legalProcedures" [keyView]="['title']" actionIcon="edit">
        </app-form-list>
    </fieldset>
    <fieldset class="owner-fieldset">
        <legend>Métodos de pago</legend>
        <button (click)="addLegalProcedureDialog()" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
        @if (!isPaymentTotalValid()) {
            <span class="payment-error"> Error: total debe ser 100%</span>
        }
        <app-form-list [(items)]="engagementLetter.paymentMethods"
                       [keyView]="['percentage','description']"></app-form-list>
    </fieldset>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    @if (isCreate()) {
        <button (click)="create()" [disabled]="formInvalid(discount.ngModel) || invalid()" color="primary"
                mat-raised-button>Create
        </button>
    } @else {
        <button (click)="update()" [disabled]="formInvalid(discount.ngModel) || invalid()" color="primary"
                mat-raised-button>Update
        </button>
    }
</mat-dialog-actions>