<h2 mat-dialog-title>Nueva Forma de Pago</h2>
<mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Porcentaje</mat-label>
        <input [(ngModel)]="percentage" matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <input [(ngModel)]="description" matInput/>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="cancel()" mat-button>Cancelar</button>
    <button (click)="save()" [disabled]="!description.trim() || !percentage" color="primary" mat-flat-button>Guardar</button>
</mat-dialog-actions>
