<h4 mat-dialog-title>Crear Alerta</h4>
<mat-dialog-content>
    <app-form-field
        #titleField
        [(value)]="alert.title"
        [required]="true"
        errorMessage="El título es obligatorio"
        label="Título"
    />
    <app-form-field
            [(value)]="alert.description"
            label="Descripción"
    />
    <app-form-date
            [(value)]="alert.dueDate"
            label="Fecha"
    />
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Cancelar</button>
    <button
            (click)="create()"
            [disabled]="formInvalid(titleField.ngModel) || invalid()"
            color="primary"
            mat-raised-button>
        Crear
    </button>
</mat-dialog-actions>
