<h4 mat-dialog-title>Configurar avisos</h4>
<mat-dialog-content>
    @for (option of options; track option.value) {
        <mat-checkbox
                [checked]="selectedOffsets.includes(option.value)"
                (change)="toggleOffset(option.value, $event.checked)">
            {{ option.label }}
        </mat-checkbox>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button>Cancelar</button>
    <button (click)="save()" color="primary" mat-raised-button>Guardar</button>
</mat-dialog-actions>
