<h4 mat-dialog-title>Detalles de la Alerta</h4>

<mat-dialog-content>
    <div *ngIf="alertDetail">
        <p><strong>Título:</strong> {{ alertDetail.title }}</p>
        <p><strong>Descripción:</strong> {{ alertDetail.description }}</p>
        <p><strong>Fecha de vencimiento:</strong> {{ alertDetail.dueDate | date:'dd/MM/yyyy' }}</p>
        <p><strong>Estado:</strong> <span
                [ngClass]="{ 'pending': alertDetail.status === 'PENDING', 'cancelled': alertDetail.status === 'CANCELLED' }">{{ alertDetail.status }}</span>
        </p>
        <p><strong>Creado en:</strong> {{ alertDetail.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Actualizado en:</strong> {{ alertDetail.updatedAt | date:'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Creado por:</strong> {{ alertDetail.createdBy }}</p>
        <p><strong>Actualizado por:</strong> {{ alertDetail.updatedBy }}</p>

        <h5>Notificaciones asociadas:</h5>
        <ol>
            <li *ngFor="let notification of alertDetail.notifications; let i = index">
                <strong>Notificación {{ i + 1 }}:</strong><br>
                <strong>Fecha de envío:</strong> {{ notification.triggerAt | date:'dd/MM/yyyy HH:mm' }}<br>
                <strong>Estado:</strong> <span
                    [ngClass]="{ 'pending': notification.status === 'PENDING', 'cancelled': notification.status === 'CANCELLED' }">{{ notification.status }}</span><br>
                <strong>Minutos de offset:</strong> {{ notification.offsetMinutes }}<br><br>
            </li>
        </ol>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button color="accent" mat-dialog-close mat-raised-button>Volver</button>
</mat-dialog-actions>